.recipe-input-form, .recipe-form-textarea {
  margin: 0.5em 10em;
  border-radius: 5px;
  padding: 10px;
}

.recipe-form {
  display: flex;
  flex-direction: column;
}

.add-recipe-button {
  width: 10em;
  margin: auto;
}