.dashboard-title {
  padding: 1em;
  text-align: center;
}

.search-button, .add-button {
  padding: 0.75em;
  color: white;
  background-color: rgba(137, 64, 137, 0.807);
  border-radius: 1em;
  border: solid black 0px;
}

.add-buton:hover, .search-button:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.search-button {
  margin-right: 5em;
}

.add-button {
  margin-left: 5em;
}