.search-form {
  margin: auto;
  padding: 1em;
  text-align: center;
}

.form {
  padding: 1em;
}

.cuisine-search {
  margin: auto;
  width: 50%;
}

.search-recipe-button {
  margin: auto;
  margin-top: 10px;
  width: 15%;
  text-align: center;
}